<div class="container"> 
  <div class="col-xs-6 col-xs-offset-3">  
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="text-center">
          <h3><%= @booklist.title %>
          <%= link_to 'Edit', edit_booklist_path(@booklist), class:"btn btn-xs btn-warning" %> 
          <%= link_to 'Back', booklists_path, class:"btn btn-xs btn-danger" %>
          </h3>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-xs-6 image"> 
          <%= image_tag @booklist.image.url(:medium) %>
        </div>
        <div class="col-xs-6">
          <strong class="text-primary"><h4>Isbn:</h4></strong>
          <span><%= @booklist.ISBN %></span>
        </div>

        <div class="col-xs-6">
          <strong class="text-primary"><h4>Genre:</h4></strong>
          <span><%= @booklist.genre %></span>
        </div>

        <div class="col-xs-6">
          <strong class="text-primary"><h4>Author:</h4></strong>
          <span><%= @booklist.author %></span>
        </div>

        <div class="col-xs-6">
          <strong class="text-primary"><h4>Pages:</h4></strong>
          <span><%= @booklist.pages %></span>
        </div>

      <div class="row">
        <div class="col-xs-6">
          <strong class="text-primary"><h4>Year:</h4></strong>
          <span><%= @booklist.year %></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <strong class="text-primary"><h4>Date Added:</h4></strong>
          <span><%= @booklist.created_at.to_formatted_s(:short) %></span>
        </div> 
      </div>

    <% if @booklist.comments.any? %>
      <div class="well">
        <span class="text-primary text-center">
          <h3><%= @booklist.comments.count %> Comment(s)</h3>
        </span>
      </div>
    <% end %>
  </div>

      <div class="panel-body">
        <%= render @booklist.comments %>
        <%= render "comments/form" %>
      </div>
    </div>
  </div>
</div>

